@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background: url('./assets/signin.png');
  height: 100vmin;
  width: 100%;
}
.ActiveLink{
  stroke: #828282;
}
.ActiveLink.active{
  color: #32D583;
  background-color: #ECFDF3;
}
.ActiveLink.active svg path {
  stroke: #32D583 !important;
}